$lightblue:#d1e2ff;
$darkblue:#8eb9ff;

ol {
  font-family: 'Oxygen', sans-serif;
}

.jumbotron {
  text-align: center;
  font-family: 'Lalezar', cursive;
  background-color: $darkblue;
}

.container {
  border-radius: 6px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: $lightblue;
}
